<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.0">

	<!-- HIV ART Register Module Properties -->
	<id>rwandareports</id>
	<name>Rwanda Reports</name>
	<version>1.0.3</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>PIH</author>
	<description>Module to register reports for IMB Rwanda</description>
	<activator>@MODULE_PACKAGE@.RwandaReportsModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	<require_version>1.4.0</require_version>
	

	<require_modules>
		<require_module>org.openmrs.module.rowperpatientreports</require_module>
	</require_modules>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.ManageAdminListExt</class>
	</extension>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<mappingFiles>
	</mappingFiles>
	
	<globalProperty>
		<property>reports.hivprogramname</property>
		<defaultValue>HIV PROGRAM</defaultValue>
		<description>
			The name of the HIV PROGRAM to be used
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivworkflowstatus</property>
		<defaultValue>TREATMENT STATUS</defaultValue>
		<description>
			The workflow status that is used to determine if patients are on ART
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivtreatmentstatus</property>
		<defaultValue>TREATMENT GROUP</defaultValue>
		<description>
			The workflow status that is used to determine the group of the HIV patients
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivonartstate</property>
		<defaultValue>ON ANTIRETROVIRALS</defaultValue>
		<description>
			The current state that signifies a patient is on ART's
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.weightConcept</property>
		<defaultValue>5089</defaultValue>
		<description>
			The concept id of the weight concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.cd4Concept</property>
		<defaultValue>5497</defaultValue>
		<description>
			The concept id of the cd4 count concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.patientDiedConcept</property>
		<defaultValue>1811</defaultValue>
		<description>
			The concept id of the patient died concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.cd4LabConcept</property>
		<defaultValue>657</defaultValue>
		<description>
			The concept id of the cd4 lab concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.labOrderType</property>
		<defaultValue>4</defaultValue>
		<description>
			The lab test order type
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pedihivprogramname</property>
		<defaultValue>PEDIATRIC HIV PROGRAM</defaultValue>
		<description>
			The program name for the pediatric hiv program
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctprogramname</property>
		<defaultValue>PMTCT PROGRAM</defaultValue>
		<description>
			The program name for the pmtct program
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivpreartstate</property>
		<defaultValue>FOLLOWING</defaultValue>
		<description>
			The current state that signifies a patient is pre ART's 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivencountertypes</property>
		<defaultValue>ADULT INITIAL VISIT:ADULT RETURN VISIT:PEDIATRIC INITIAL VISIT:PEDIATRIC RETURN VISIT:ADULT HIV FLOWSHEET</defaultValue>
		<description>
			All of the encounter types that signify a HIV visit
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctGaveBirthStatus</property>
		<defaultValue>GAVE BIRTH</defaultValue>
		<description>
			The workflow status that indicates a pmtct patient has given birth
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.currentlocation</property>
		<defaultValue>Rwinkwavu Health Center</defaultValue>
		<description>
			The current location to be used by the reports
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctcombinedprogramname</property>
		<defaultValue>PMTCT Combined Clinic - Infant</defaultValue>
		<description>
			The Program name for the PMTCT Combined clinic
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.tbTestConcept</property>
		<defaultValue>2136</defaultValue>
		<description>
			The concept id of the TB test concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.allSecondLineArtDrugsConceptSet</property>
		<defaultValue>1085</defaultValue>
		<description>
			The concept id of the concept set that contains all Second Line ART drugs
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.testOrderedConcept</property>
		<defaultValue>1271</defaultValue>
		<description>
			The concept id for test ordered
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.labTestDateConcept</property>
		<defaultValue>3267</defaultValue>
		<description>
			The concept id for the labratory test date
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.allFirstLineArtDrugsConceptSet</property>
		<defaultValue>1085</defaultValue>
		<description>
			The concept id of the concept set that contains all First Line ART drugs
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pregnancyDeliveryDateConcept</property>
		<defaultValue>6188</defaultValue>
		<description>
			The concept id of pregnancy due date concept 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.ctxTreatmentConcept</property>
		<defaultValue>916</defaultValue>
		<description>
			The concept id of the CTX Treatment drug concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.tbTreatmentConcept</property>
		<defaultValue>3014</defaultValue>
		<description>
			The concept id of all the TB Treatment drug concept set 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.cd4PercentageConcept</property>
		<defaultValue>730</defaultValue>
		<description>
			The concept id of the cd4 percentage concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.stageConcept</property>
		<defaultValue>1480</defaultValue>
		<description>
			The concept id of the stage concept
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.allArtDrugsConceptSet</property>
		<defaultValue>1085</defaultValue>
		<description>
			The concept id of the concept set that contains all ART drugs
		</description>
	</globalProperty>
	
	<!-- Start Late Visit And CD4 Global Property -->
	<globalProperty>
		<property>ClinicalencounterTypeIds.labTestExcl</property>
		<defaultValue>1,2,3,4</defaultValue>
		<description>
			Clinical Encounter Type to find patients who have have not had a clinical encounter (lab test excluded)		</description>
	</globalProperty>
	<globalProperty>
		<property>ClinicalencounterTypeIds.labTestIncl</property>
		<defaultValue>1,2,3,4,9</defaultValue>
		<description>
			Clinical Encounter Type to find patients who have have had a clinical encounter (lab test included)		</description>
	</globalProperty>
	<globalProperty>
		<property>hiv.programid.adult</property>
		<defaultValue>3</defaultValue>
		<description>Id for Adult HIV program</description>
	</globalProperty>
	
	<globalProperty>
		<property>hiv.programid.pediatric</property>
		<defaultValue>10</defaultValue>
		<description>Id for Pediatric HIV program</description>
	</globalProperty>
	<!-- End Late Visit And CD4 Global Property -->
	<globalProperty>
		<property>reports.imbIdIdentifier</property>
		<defaultValue>IMB ID</defaultValue>
		<description>Identifier type that should be returned for the Primary Care</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.tracIdentifier</property>
		<defaultValue>TRACnet ID</defaultValue>
		<description>Identifier type that should be returned for the TRACnet ID</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.primaryCareIdIdentifier</property>
		<defaultValue>Primary Care</defaultValue>
		<description>Identifier type that should be returned for the IMB Id</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctMotherRelationship</property>
		<defaultValue>13</defaultValue>
		<description>The id of the Relationship that represents the mother in the PMTCT program</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctFeedingStatusWorkflowName</property>
		<defaultValue>Feeding status</defaultValue>
		<description>The name of the workflow for the feeding status</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.preArtStatusConcept</property>
		<defaultValue>1490</defaultValue>
		<description>The concept id for the Pre Art status concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctRelationshipStatusWorkflowName</property>
		<defaultValue>Relationship status</defaultValue>
		<description>The name of the workflow for the relationship status</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.accompagnatuerRelationship</property>
		<defaultValue>1</defaultValue>
		<description>The id of the Relationship that represents the accompagnatuer</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctNextVisitConcept</property>
		<defaultValue>5096</defaultValue>
		<description>The id of the concept for next pmtct visit</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.dbsConcept</property>
		<defaultValue>1553</defaultValue>
		<description>The id of the concept for the DBS test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.dbsInitialConcept</property>
		<defaultValue>6961</defaultValue>
		<description>The id of the concept for the DBS initial test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.dbsConfirmationConcept</property>
		<defaultValue>6962</defaultValue>
		<description>The id of the concept for the DBS confirmation test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.viralLoadConcept</property>
		<defaultValue>856</defaultValue>
		<description>The id of the concept for the Viral Load test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.pmtctDiscordantCoupleWorkflowState</property>
		<defaultValue>Discordant Couple</defaultValue>
		<description>The workflow state representing a discordant couple</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.labEncounterType</property>
		<defaultValue>9</defaultValue>
		<description>The id for the lab encounter type</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.ExposedInfantEncounterType</property>
		<defaultValue>27</defaultValue>
		<description>The id for the exposed infant encounter type</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivTestConcept</property>
		<defaultValue>2169</defaultValue>
		<description>The id of the concept for the HIV test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.birthWeightConcept</property>
		<defaultValue>5916</defaultValue>
		<description>The id of the concept for the Birth date</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.infantFeedingMethodConcept</property>
		<defaultValue>1151</defaultValue>
		<description>The id of the concept for the infant feeding method</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.infantHivTestTypeConcept</property>
		<defaultValue>1867</defaultValue>
		<description>The id of the concept for the infant hiv type test</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.hivTestDateConcept</property>
		<defaultValue>1837</defaultValue>
		<description>The id of the concept for the infant hiv test date</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.breastFedStatusConcept</property>
		<defaultValue>6911</defaultValue>
		<description>The id of the concept for the breast fed status concept</description>
	</globalProperty>
	
	<globalProperty>
		<property>reports.weanedConcept</property>
		<defaultValue>1152</defaultValue>
		<description>The id of the concept for the weaned concept</description>
	</globalProperty>
	
	<!-- /Rwanda Report Module Properties -->
	
	<!-- start of Rwanda Primary Report Module Properties -->
	
	<globalProperty>
		<property>primarycarereport.registration.encountertypeid</property>
		<defaultValue>20</defaultValue>
		<description>The id of Registration encounter type</description>
	</globalProperty>
	
	<globalProperty>
		<property>primarycarereport.vitals.encountertypeid</property>
		<defaultValue>21</defaultValue>
		<description>The id of Vitals encounter type</description>
	</globalProperty>
	<!-- End of Rwanda Primary Report Module Properties -->
	
	<!-- Start Heart Failure report global properties  -->
	<globalProperty>
		<property>cardiologyreporting.cardilogyEncounterTypes</property>
		<defaultValue>1,2,23</defaultValue>
		<description>
			This global property is used to get all forms of heart failure program. The default values are incounterType IDs of those forms.  
		</description>
	</globalProperty>
	<globalProperty>
		<property>cardiologyreporting.cardilogyConsultationFormId</property>
		<defaultValue>82</defaultValue>
		<description>
			This global property is used to get Cardiology Consultation Form . The default value is form ID.  
		</description>
	</globalProperty>
	<globalProperty>
		<property>cardiologyreporting.hFDonneDeBaseFormId</property>
		<defaultValue>77</defaultValue>
		<description>
          This global property is used to get Heart failure donne de Base Form . The default value is form ID. 
		</description>
	</globalProperty>
	
	<!-- End Heart Failure report global properties  -->
</module>
